bot-config:
  nick-name: "布丁"
  prefix:
  master:
    - '10001'
  proxy:
    host: "127.0.0.1"
    port: 7890
    type: "HTTP"
  chat-gpt:
    token: "sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
    timeout: 30
    module: "gpt-3.5-turbo"
  tarot:
    #单位 秒
    cd: 60
  aria2:
    url:
    token: